<h1> Universidad del Norte</h1>
<h3> IST4330 - Estructuras Discretas</h3>
<h4> Luis Cárcamo</h4>
<h5> 29 de octubre de 2020</h5>

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

# Introducción a Python

### Software para programar en Python

- [Google Colaboratory](https://colab.research.google.com/)
- [Jupyter Anaconda](https://www.anaconda.com/products/individual)
- [PyCharm](https://www.jetbrains.com/pycharm/)
- [Python](https://www.python.org/) + [PIP](https://pypi.org/project/pip/) + Cualquier editor (Sublime Text, Atom, VSCode, etc)

## Variables, lectura y escritura de datos

In [2]:
print("Hola mundo")

Hola mundo

La función *type* sirve para conocer el tipo de una variable.

In [6]:
a = 5
print(a, type(a))
b = "Hola"
print(b, type(b))
c = 1.0
print(c, type(c))

5 <class 'int'>
Hola <class 'str'>
1.0 <class 'float'>

In [11]:
a = input("Digite un valor: ") # 5
print(type(a))
b = input("Digite otro valor: ") # 7
print(type(b))
suma = a + b
print("La suma de ", a, " y ", b, " es ", suma)
#print("La suma de %d y %d es %d" % (a, b, suma))
print(type(suma))

Digite un valor: 5
<class 'str'>
Digite otro valor: 7
<class 'str'>
La suma de  5  y  7  es  57
<class 'str'>

Dado que *a* y *b* eran cadenas, el operador *+* en Python cuando se usa sobre cadenas equivale a una concatenación.

In [15]:
a = int(input("Digite un valor: ")) # 5
print(type(a))
b = int(input("Digite otro valor: ")) # 7
print(type(b))
suma = a + b
#print("La suma de ", a, " y ", b, " es ", suma)
print("La suma de %d y %d es %d" % (a, b, suma))
print(type(suma))

Digite un valor: 5
<class 'int'>
Digite otro valor: 7
<class 'int'>
La suma de 5 y 7 es 12
<class 'int'>

El literal *%d* indica entero.

El ejemplo anterior sólo funciona cuando *a* y *b* son enteros.

In [20]:
a = float(input("Digite un valor: "))
print(type(a))
b = float(input("Digite otro valor: "))
print(type(b))
suma = a + b
#print("La suma de ", a, " y ", b, " es ", suma)
print("La suma de %.3f y %.3f es %.3f" % (a, b, suma))
print(type(suma))

Digite un valor: 5
<class 'float'>
Digite otro valor: 7.1
<class 'float'>
La suma de 5.000 y 7.100 es 12.100
<class 'float'>

El literal *%f* indica valores de punto flotante («números reales»).

In [21]:
nombre = input("Digite su nombre: ")
print("Su nombre es %s" % nombre)

Digite su nombre: luis
Su nombre es luis

El literal *%s* indica cadenas.

<b>Nota:</b> Las variables del entorno se mantienen y son compartidas por <b>todas</b> las celdas.

## Condicionales

if &lt;condición&gt;:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;bloque de código&gt;<br>
elif  &lt;condición&gt;:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;bloque de código&gt; <br>
else:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;bloque de código&gt;

In [24]:
nota = float(input("Digite su nota: "))
if nota < 3.0:
  print("Desempeño bajo")
else:
  if nota < 4.0:
    print("Desempeño básico")
    else:
      if nota < 4.8:
        print("Desempeño alto")
      else:
        print("Desempeño excelente")

Digite su nota: 4.9
Desempeño excelente

In [30]:
nota = float(input("Digite su nota: "))
if nota < 3.0:
  print("Desempeño bajo")
elif nota < 4.0:
  print("Desempeño básico")
elif nota < 4.8:
  print("Desempeño alto")
else:
  print("Desempeño excelente")

Digite su nota: 4.1
Desempeño alto

## Ciclos repetitivos

### Mientras Que
*while*

*div* -> // (División entera)

In [37]:
print(25//8) # 25 div 8
print(25/8)

3
3.125

In [39]:
a = b = c = 0
# a = 0
# b = 0
# c = 0
print(a, b, c)

0 0 0

In [38]:
numero = a = 59194
suma = 0
while a != 0:
  suma = suma + a % 10
  a = a // 10
  print(a)

print("La suma de los dígitos de %d es %d." % (numero, suma))

5919
591
59
5
0
La suma de los dígitos de 59194 es 28.

### Para 
*(for)*

In [42]:
p = range(inicio, fin, paso)
print(p)
print(type(p))

range(0, 10)
<class 'range'>

In [45]:
#inicio = 0
#fin = 10
#paso = 1
inicio, fin, paso = 0, 10, 1
for i in range(inicio, fin, paso):
  print(i, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [47]:
S = "Esta es una cadena"
for caracter in S:
  print(caracter, end="-")

E-s-t-a- -e-s- -u-n-a- -c-a-d-e-n-a-

In [48]:
print("l" in S) # Si l está en la cadena
print("c" in S) # Si c está en la cadena

False
True

In [67]:
print(S[-5:-1])

aden

## Listas, tuplas y diccionarios

Las listas, diccionarios y tuplas son **iterables**.

### Listas

Crear una lista

In [76]:
P = list()
print(P)
print(type(P))

[]
<class 'list'>

In [86]:
P = [0, 1, 2, 3, 4]
print(type(P))

<class 'list'>

In [72]:
X = [x + x**2 - x**3 for x in P]
print(X)

[1, 0, 1, -2, -15, -44, -287]

In [87]:
P = [0, 1, 2, 3, 4, "S"]
P.append(["a", "b"])
print(P)

[0, 1, 2, 3, 4, 'S', ['a', 'b']]

Añadir elementos a una lista ya creada

In [58]:
P.append(7)
print(P)

[0, 1, 2, 3, 4, 7]

In [59]:
P.insert(0, -1)
print(P)

[-1, 0, 1, 2, 3, 4, 7]

Índices en objetos iterables

In [64]:
print(P[0]) # primer elmento
print(P[-1]) # último elemento
print(P[-2]) # penúltimo elemento
print(P[-3]) # antepenúltimo elemento

-1
7
4
3

In [66]:
print(P[0:3])
print(P[-3:-1])

[-1, 0, 1]
[3, 4]

### Diccionarios

Estos son similares a las clases **HashMap<K, V>, TreeMap<K, V> (Symbol tables)** en Java.

In [74]:
d1 = dict() # crea un diccionario vacío
print(d1)
print(type(d1))

{}
<class 'dict'>

diccionario = {&lt;key&gt;: &lt;value&gt;}

In [82]:
d1 = {"materia": "Estructuras Discretas", "profesor": "Alfonso Mancilla", "grupo": 1, "estudiantes": [1,35,7,9,85,456,456,123]}
print(d1)

{'materia': 'Estructuras Discretas', 'profesor': 'Alfonso Mancilla', 'grupo': 1, 'estudiantes': [1, 35, 7, 9, 85, 456, 456, 123]}

In [85]:
print(d1[ "materia"])
print(d1[ "profesor"])
print(d1[ "grupo"], type(d1['grupo']))

Estructuras Discretas
Alfonso Mancilla
1 <class 'int'>

In [81]:
estudiantes = d1["estudiantes"]
print(type(estudiantes))

<class 'list'>

#### Iterar sobre diccionarios

Recorrer valores y llaves.

In [103]:
for key, value in d1.items():
  print(key, value)

materia Estructuras Discretas
profesor Alfonso Mancilla
grupo 1
estudiantes [1, 35, 7, 9, 85, 456, 456, 123]

Recorrer solamente los valores.

In [104]:
for value in d1.values():
  print(value)

Estructuras Discretas
Alfonso Mancilla
1
[1, 35, 7, 9, 85, 456, 456, 123]

Recorrer solamente las llaves.

In [105]:
for key in d1:
  print(key)

materia
profesor
grupo
estudiantes

### Tuplas

Las tuplas son objetos **immutables**. A diferencia de las listas que sí son **mutables**

In [88]:
T = tuple()
print(T)
print(type(T))

()
<class 'tuple'>

In [89]:
T = tuple(P) # crea una tupla con los elementos de P
print(T)
print(type(T))

(0, 1, 2, 3, 4, 'S', ['a', 'b'])
<class 'tuple'>

In [90]:
for elemento in T:
  print(elemento, end=", ")

0, 1, 2, 3, 4, S, ['a', 'b'],

In [96]:
d = 10, 11, 12, 14
print(type(d))

<class 'tuple'>

Las tuplas se pueden *desempaquetar*.
El asterisco significa que el conjunto de valores restantes se van a guardar como una lista en *c*.

In [98]:
a, b, *c = d

In [99]:
print(a, b, c)

10 11 [12, 14]

In [100]:
a, b, c = 1, 2, 3